.del-style-userphoto{
    display : inline-block;
    padding-bottom : 20px;
    position : absolute;
}
.del-style-commentdetail{
    display : inline-block;
    padding-left : 40px;
}
.del-style-username{
    font-weight : bold;
}
.del-style-datetime{
    font-size : 0.9em;
}
.del-style-margin{
    margin : 8px 0px;
}
.del-style-commentsection{
    position : relative;
}