lightning-button-icon {
    --slds-c-button-radius-border: 50%;
    --slds-c-button-left-margin: 1.25rem;
}

lightning-input {
    --slds-c-input-radius-border: 1.25rem;
}

lightning-avatar {
    --slds-c-avatar-color-background: #7F8CED;
}

.del-style-username {
    font-weight: bold;
}

.del-style-button-left-margin {
    margin-left: -2.0rem;
}

.del-avatar-width {
    width: 45px;
}

.del-button-icon-width {
    width: 10px;
}